.grid-residence {
    display: flex; /* Utilisation de flexbox */
    flex-direction: column;
    justify-content: center; /* Centrer horizontalement */
    align-items: center; /* Centrer verticalement */
    gap: 10px; /* Espace entre les boutons */
  }
  
  .conteneur-residence {
    border: 1px solid #000;
    width: 200px;
    height: 50px;
    margin: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
